#use the command "pip install -r requirements.txt to install all
#make sure to be patient with it
fastapi
uvicorn
SQLAlchemy
databases
mysqlclient
python-jose
passlib[bcrypt]
python-dotenv
alembic
pydantic
pydantic-settings
jinja2
gunicorn
pytest
pytest-asyncio
httpx