# /etc/systemd/system/cplearn-production.service
[Unit]
Description=CPLearn Uvicorn Production Server
After=network.target

[Service]
User=cpladmin
Group=www-data
WorkingDirectory=/opt/cplearn/prod
ExecStart=/home/cpladmin/.pyenv/versions/cplenv/bin/uvicorn app.main:app --reload --port 8081 --host 0.0.0.0
Restart=always
Environment="PATH=/home/cpladmin/.pyenv/versions/cplenv/bin"

[Install]
WantedBy=multi-user.target